body {
    background-color: black;
}

h1 {
    color: white;
    font-family: monospace;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 100px;
}

p  {
    color: white;
    font-family: monospace;
    position: absolute;
    font-size: 20px;
    top: 70%;
    left: 100px;
}

#sitedown {
    position: absolute;
    left: 19%;
    top: 30%;
}

#hand {
    position: absolute;
    left: 60%;
    top: 30%;
}

.pc {
    display: block;
}

/* Mobile styles */
.mobile {
    display: none;
}

/* Media query for devices with a maximum width of 768px */
@media only screen and (max-width: 768px) {
    .pc {
        display: none;
    }
    
    .mobile {
        display: block;
    }
}