body {
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-family: monospace;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 100px;
}

p  {
    color: white;
    font-family: monospace;
    position: absolute;
    font-size: 20px;
    top: 70%;
    left: 100px;
}

#sitedown {
    display: flex; justify-content: center; align-items: center;
}

#hand {
    position: absolute;
    left: 60%;
    top: 30%;
}




  
.container {
    height: 1334px;
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
  }
  
.container img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }